@import "tailwindcss";

* {
  font-family: "Baloo 2", serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #f8f5f8;
}

main {
  background-color: #f8f5f8;
}
