@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", Arial, sans-serif;
}

#root {
  background-color: #f8f5f8;
}

main {
  background-color: #f8f5f8;
}
